.post-to-self-container {
    .home-list-book {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 180px);
        gap: 16px 20px;
        margin-bottom: 30px;

        .item-book {
          width: 180px;
          min-height: 300px;
          // margin-right: 20px;
          // margin-bottom: 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          border: 2px solid #e6e8ec;
          border-radius: 10px;
          padding: 10px;

          .icon-delete {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 12px;
            .anticon-close-circle{
              font-size: 22px;
               color: red;
            }
          }
        }
        .item-book:hover {
          box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%),
            0 5px 12px 4px rgb(0 0 0 / 9%);
        }
    
        .row-end {
          display: flex;
          justify-content: space-between;
    
          .text-align-center {
            //text-align: center;
            font-weight: 400;
            font-size: 14px;
            margin-left: 3px;
            font-weight: 500;
          }
    
          .ant-btn {
            border-color: red;
            color: red;
            border-radius: 10px;
            font-size: 12px;
            padding: 2px 7px;
          }
        }
    
        .text-title {
          //text-align: center;
          font-weight: 500;
          margin-bottom: 0px !important;
          display: block;
          display: -webkit-box;
          height: 14px * 1.2 * 2;
          font-size: 14px;
          line-height: 1.2;
          -webkit-line-clamp: 2; /* số dòng hiển thị */
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-top: 10px;
        }
    
        .author {
          font-size: 14px;
        }
    
        .vote {
          display: flex;
          align-items: center;
          font-size: 12px;
        }
      }
}