.group-filter-global {
  display: flex;
  .search-text,
  .slect-option,
  .date-picker {
    margin: 5px 10px 5px 0;
    border-radius: 5px;

    .ant-input-affix-wrapper {
      border-top-left-radius: 5px !important;
      border-bottom-left-radius: 5px !important;
    }

    .ant-input-search-button {
      border-radius: 0 5px 5px 0 !important;
    }
  }

  .date-picker {
    height: unset;
    display: inline-flex;
  }

  .ant-select-multiple {
    .ant-select-selector {
      .ant-select-selection-overflow {
        flex-wrap: unset;
        overflow: auto;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }

  // search
  .ant-input-search-button {
    width: 32px;
    padding: 0;
  }
}
