.address-tab-container {
  padding: 0 20px;

  .main {
    display: flex;
    .contact {
      width: 43%;
      padding: 10px 2%;
      margin: 0 2%;
      background-color: #F0F2F5;
      border-radius: 12px;


      .formik-contact-tab-container {
        .contact-tab-container {
          .form-item {
            .item-detail {
              margin-top: 20px;
            }
          }
        }
      }
    }
    .address {
      width: 57%;
      padding: 10px 2%;
      margin: 0 2%;
      background-color: #F0F2F5;
      border-radius: 12px;

      .formik-address-tab-container {
        margin-top: 15px;
        width: 100%;
        .address-tab-container {
          .form-item {
            display: flex;
            margin-bottom: 20px;

            .title {
              width: 30%;
            }
            .item-detail {
              width: 80%;
            }
          }
        }
      }
    }
  }
  .lineHorizoltal{
    height: 1px;
    background-color: black;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

