.sidebar-chat {
  padding: 4px 12px;
  width: 20%;
  min-width: 250px;
  background-color: rgba(204, 204, 204, 0.1);
  .search {
    .ant-input {
      background-color: rgba(204, 204, 204, 0.8);
      border-bottom-left-radius: 15px !important;
      border-top-left-radius: 15px !important;
      &::placeholder {
        color: #fff !important;
      }
    }
    .ant-input-group-addon {
      border-bottom-right-radius: 15px !important;
      border-top-right-radius: 15px !important;
      .ant-btn {
        border-bottom-right-radius: 15px !important;
        border-top-right-radius: 15px !important;
        background-color: rgba(204, 204, 204, 0.8);
      }
    }
  }
  .list-user {
    margin-top: 12px;
    .user {
      display: flex;
      margin-bottom: 12px;
      cursor: pointer;
      &.active {
        background-color: #188fff81;
        border-radius: 10px;
        padding: 2px 4px 0;
      }
      .user-left {
        position: relative;
        .ant-avatar {
          border: 1px solid #ccc !important;
        }
        .status {
          position: absolute;
          display: inline-block;
          height: 8px;
          width: 8px;
          border-radius: 50%;
          background-color: rgb(30, 213, 30);
          bottom: 8px;
          right: 0px;
        }
      }
      .user-right {
        width: 100%;
        margin-left: 4px;
        .mess-latest {
          display: flex;
          font-size: 10px;
          overflow: hidden;
          .sender {
            // width: 30%;
            font-weight: 600;
          }
          .mess-content {
            width: 70%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
  }
}
.content-chat {
  position: relative;
  height: 100%;
  .nav-chat {
    padding: 4px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px #ccc;
    .nav-left {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
    }
    .nav-right {
      gap: 10px;
      display: flex;
      .anticon {
        padding: 6px;
        border-radius: 50%;
        background-color: rgba(204, 204, 204, 0.5);
        cursor: pointer;
        &:hover {
          background-color: rgba(204, 204, 204, 0.8);
        }
      }
    }
  }
  .content-chat-mess {
    height: calc(100vh - 160px);
    overflow-y: scroll;
    scroll-snap-align: center;
    padding-top: 12px;

    .mess-left {
      .mess-main {
        display: flex;
        align-items: center;
        gap: 8px;
        width: fit-content;
        max-width: 45%;
        margin: 12px 0 0 12px;
        border-radius: 10px;
        .ant-avatar {
          width: 30px;
          height: 30px;
        }
        .des-mess {
          background-color: #ccc;
          padding: 6px;
          border-radius: 10px;
          width: calc(100% - 30px);
        }
      }
    }
    .mess-right {
      .des-mess {
        margin: 0 12px 0 auto;
        width: fit-content;
        max-width: 45%;
        background-color: #188fff81;
        padding: 6px;
        border-radius: 10px;
        margin-top: 12px;
      }
    }
  }
  .control-mess {
    position: absolute;
    height: 60px;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0 12px;
    .ant-input {
      height: 40px;
      border-radius: 25px;
      padding: 12px;
    }
    .anticon {
      color: #1179dbf0;
      cursor: pointer;
      padding: 6px;
      border-radius: 50%;
      &:hover {
        background-color: rgba(204, 204, 204, 0.5);
      }
    }
    .anticon-plus-circle {
      font-size: 20px;
    }
    .anticon-send {
      font-size: 25px;
      margin-left: 12px;
    }
  }
}
