.page-login-container {
    .item-formik {
      display: flex;
      margin-bottom:  15px ;

      .title-text {
         width: 25%;
      }

      .action-item {
        width: 75%;
      }
    }
}