.tabContainer {
  .ant-tabs-nav-list {
    .ant-tabs-tab {
      padding: 8px 48px;
      border-radius: 5px 5px 0 0 !important;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      background-color: #f0f0f0;
      margin-left: 5px;
    }
    .ant-tabs-tab.ant-tabs-tab-active {
      border-bottom: 2px solid #1890ff;
      background-color: #ffffff;
    }
  }
}
